
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <label>Username</label>
    <input type="text" name="Username" /><br />
    <label>Password</label>
    <input type="password" name="Password" /><br />
    <label>Name</label>
    <input type="text" name="Name" /><br />
    <input type="submit" />
</form>
